/*for the body*/

body{
  text-align: center;
  background-color: hsl(240, 78%, 98%) ;
  font-family: 'Montserrat', sans-serif;
}

.anually-monthly{
  display: flex;
  justify-content: center;
}

/*catalog configuration*/
.basic-plan, .professional-plan, .master-plan{
  border-radius: 1rem;
  padding: 0 2rem;
}

.basic-plan, .master-plan{
  height: max-content;
}

.features-list{
  display: inline-block;
  margin: 1rem 0;
}

.price1, .price2, .price3{
  font-size: 5rem;
  margin: 2rem 0;
}

/*for toogling button*/
.checking-box{
  margin:1.5rem 0 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
}

.type-plan{
  margin: 0 2rem;
}

input[type="checkbox"]{
  -webkit-appearance: none;
  position: relative;
  width: 100px;
  height: 50px;
  background-image: linear-gradient(to right,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 50px;
  outline: none;
}

.checking-box:hover{
  opacity: 0.6;
  transition: all 0.6s ease;
}

input[type="checkbox"]::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: #fff ;
  border-radius: 50px;
  transition: all 0.7s ease;
}

input:checked:before {
  transform: translate(100%);
  transition: all 0.7s ease;
}

.animation, .remove{
  animation-name: changing;
  animation-duration: 2s;
}

@keyframes changing {
  from{opacity: 1}
  to{opacity: 0}
}

/*for basic plan*/
.basic-plan{
  background-color: #fff;
}

/*for professional plan*/
.professional-plan{
  background-image: linear-gradient(to bottom right, hsl(237, 63%, 64%), hsl(236, 72%, 79%));
  height: 37rem;
  position: relative;
  bottom: 2rem;
}

.price2{
  color: #fff;

}

/*for master plan*/
.master-plan{
  background-color: #fff;
}

/*for button*/
.plan-button{
  width: 20rem;
  height: 3rem;
  border-radius: 0.5rem;
  border-style: none;
  margin: 1rem 0 3rem 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3rem;
  color: #fff;
  transition: all 0.5s ease;
}

.plan-button:hover{
  background-image: none;
  border-style: solid;
  transition: all 0.5s ease;
}



.left-button, .right-button{
  background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.middle-button{
  color: hsl(237, 63%, 64%);

}


.left-button:hover, .right-button:hover{
  background-color: #fff;
  border-color: hsl(237, 63%, 64%);
  color: hsl(237, 63%, 64%);
}

.middle-button:hover{
  background-color: transparent;
  border-color: #fff;
  color:#fff;
}


@media(max-width:1168px){
  hr{
    width: 15rem;
  }
/*for plan*/
.basic-plan, .professional-plan, .master-plan{
  padding: 0 1rem;
}

/*for price tag*/
  .price1,.price2, .price3{
    font-size: 3rem;
  }

/*for button*/
.plan-button{
  width: 15rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
}

@media (max-width:1018px){
  /*for plan column*/
  .basic-plan, .professional-plan, .master-plan{
    padding: 0;
    width: max-content;
  }
/*for price tag*/
  .price1,.price2, .price3{
    font-size: 2rem;
  }
}

@media (max-width:922px){
  .anually-monthly{
    flex-direction: column;
    align-items: center;
  }
  .basic-plan, .professional-plan, .master-plan{
    width: 27rem;
    margin-bottom: 5rem;
}
}

@media (max-width:433px){
  .basic-plan, .professional-plan, .master-plan{
    width: 100%;
  }
}

@media (max-width:389px){
  .type-plan{
    margin:0 1rem;
  }

  input[type="checkbox"]{
    width: 80px;
    height: 40px;
  }

  input[type="checkbox"]::before{
    width: 40px;
    height: 40px;
  }
}
